

@charset "UTF-8";

.button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
	padding: 10px 20px;
	  font-size: 16px;
	  background-color: #007bff;
	  color: white;
	  border: none;
	  border-radius: 5px;
	  cursor: pointer;
	  font-family:sans-serif;
}
.button:hover {
	background-color: #0056b3;
}

/* 背景と基本スタイル */
body {
    font-family: monospace;
    line-height: 1.6;
    background-color: #E6E6E6;
    margin: 20px;
    color: #333;
	text-align: center;
	font-weight: bold;
}

/* 見出し */
h1 {
    text-align: center;
    color: #444;
	
}

.mainview {
	background: #fff;
	    padding: 20px;
	    margin: 0 auto;
	    border-radius: 8px;
	    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
	    max-width: 900px;
}

/* ラベル */
label {
    font-weight: bold;
    margin: 10px 0 5px;
	font-size: 18px;
}

/* 入力フィールドとボタン */
input[type="number"], input[type="radio"], input[type="submit"] {
    margin-bottom: 15px;
	text-align: center;
	vertical-align: baseline;
}

input[type="number"] {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
	font-weight: bold;
	font-family:sans-serif;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* エラーメッセージ */
p {
    color:#E64918;
    text-align: center;
    font-weight: bold;
	font-size: 19px;
}

h2 {
	font-size: 22px;
	font-weight: bold;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 20px 20px;
}

.grid div {
  background: #007bff;
  color: white;
  font-size: 26px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;
  font-family:sans-serif;
}

.grid div.correct {
  background: #28a745;
  cursor: default;
}

.grid div.incorrect {
  background: #dc3545;
  cursor: default;
}

.hidden {
  display: none;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-family:sans-serif;
}

button:hover {
  background-color: #BC0019;
}

.message {
	font-size: 18px;
	text-align: center;
	font-weight: bold;
}

.scview {
	display: flex;
	justify-content:space-evenly;
}

.fview {
	justify-content:center;
	display: flex;
	align-items: center;
}
